Import Library

In [20]:
import pandas as pd

Load Dataset

In [21]:
df = pd.read_csv("Pokemon.csv")

Summarize the Dataset

In [22]:
df.shape

(800, 13)

In [23]:
df.head()

   #                   Name Type 1  ... Speed  Generation  Legendary
0  1              Bulbasaur  Grass  ...    45           1      False
1  2                Ivysaur  Grass  ...    60           1      False
2  3               Venusaur  Grass  ...    80           1      False
3  3  VenusaurMega Venusaur  Grass  ...    80           1      False
4  4             Charmander   Fire  ...    65           1      False

[5 rows x 13 columns]

In [24]:
df.tail()

       #                 Name   Type 1  ... Speed  Generation  Legendary
795  719              Diancie     Rock  ...    50           6       True
796  719  DiancieMega Diancie     Rock  ...   110           6       True
797  720  HoopaHoopa Confined  Psychic  ...    70           6       True
798  720   HoopaHoopa Unbound  Psychic  ...    80           6       True
799  721            Volcanion     Fire  ...    70           6       True

[5 rows x 13 columns]

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 800 entries, 0 to 799
Data columns (total 13 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   #           800 non-null    int64
 1   Name        800 non-null    object
 2   Type 1      800 non-null    object
 3   Type 2      414 non-null    object
 4   Total       800 non-null    int64
 5   HP          800 non-null    int64
 6   Attack      800 non-null    int64
 7   Defense     800 non-null    int64
 8   Sp. Atk     800 non-null    int64
 9   Sp. Def     800 non-null    int64
 10  Speed       800 non-null    int64
 11  Generation  800 non-null    int64
 12  Legendary   800 non-null    bool
dtypes: bool(1), int64(9), object(3)
memory usage: 75.9+ KB

In [26]:
df.isnull().sum()

#               0
Name            0
Type 1          0
Type 2        386
Total           0
HP              0
Attack          0
Defense         0
Sp. Atk         0
Sp. Def         0
Speed           0
Generation      0
Legendary       0
dtype: int64

In [27]:
df.describe()

                #      Total          HP  ...     Sp. Def       Speed  Generation
count  800.000000  800.00000  800.000000  ...  800.000000  800.000000   800.00000
mean   362.813750  435.10250   69.258750  ...   71.902500   68.277500     3.32375
std    208.343798  119.96304   25.534669  ...   27.828916   29.060474     1.66129
min      1.000000  180.00000    1.000000  ...   20.000000    5.000000     1.00000
25%    184.750000  330.00000   50.000000  ...   50.000000   45.000000     2.00000
50%    364.500000  450.00000   65.000000  ...   70.000000   65.000000     3.00000
75%    539.250000  515.00000   80.000000  ...   90.000000   90.000000     5.00000
max    721.000000  780.00000  255.000000  ...  230.000000  180.000000     6.00000

[8 rows x 9 columns]

Feature Engineering <br>

Add Column = HP_high_low

In [28]:
hp_mean = df["HP"].mean()

def set_hp(val):
    if val < hp_mean:
        return "HP Low"
    elif val == hp_mean:
        return "HP neutral"
    else:
        return "HP High"

In [29]:
df["HP_high_low"] = df["HP"].apply(set_hp)
df

       #                   Name   Type 1  ... Generation  Legendary  HP_high_low
0      1              Bulbasaur    Grass  ...          1      False       HP Low
1      2                Ivysaur    Grass  ...          1      False       HP Low
2      3               Venusaur    Grass  ...          1      False      HP High
3      3  VenusaurMega Venusaur    Grass  ...          1      False      HP High
4      4             Charmander     Fire  ...          1      False       HP Low
..   ...                    ...      ...  ...        ...        ...          ...
795  719                Diancie     Rock  ...          6       True       HP Low
796  719    DiancieMega Diancie     Rock  ...          6       True       HP Low
797  720    HoopaHoopa Confined  Psychic  ...          6       True      HP High
798  720     HoopaHoopa Unbound  Psychic  ...          6       True      HP High
799  721              Volcanion     Fire  ...          6       True      HP High

[800 rows x 14 columns]

Add Column = Speed_high_low

In [30]:
speed_mean = df["Speed"].mean()

def set_speed(val):
    if val < speed_mean:
        return "Speed Low"
    elif val == speed_mean:
        return "Speed neutral"
    else:
        return "Speed High"

In [31]:
df["Speed_high_low"] = df["HP"].apply(set_hp)
df

       #                   Name   Type 1  ... Legendary  HP_high_low  Speed_high_low
0      1              Bulbasaur    Grass  ...     False       HP Low          HP Low
1      2                Ivysaur    Grass  ...     False       HP Low          HP Low
2      3               Venusaur    Grass  ...     False      HP High         HP High
3      3  VenusaurMega Venusaur    Grass  ...     False      HP High         HP High
4      4             Charmander     Fire  ...     False       HP Low          HP Low
..   ...                    ...      ...  ...       ...          ...             ...
795  719                Diancie     Rock  ...      True       HP Low          HP Low
796  719    DiancieMega Diancie     Rock  ...      True       HP Low          HP Low
797  720    HoopaHoopa Confined  Psychic  ...      True      HP High         HP High
798  720     HoopaHoopa Unbound  Psychic  ...      True      HP High         HP High
799  721              Volcanion     Fire  ...      True      HP High         HP High

[800 rows x 15 columns]